@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;700;900&family=Open+Sans:wght@400;700&family=Roboto:wght@700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 180px;
    height: 70px;
}

.navbar-nav {
    display: contents;
    }

#navbarSupportedContent {

    justify-content: end;
}

.nav-item {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    display: inline;
    padding: 0px 6px;
}

.nav-link {
    font-size: 15px;
    color: #22193F;
    margin-inline-end: 5px;
}

.nav-link:hover{
    transition-duration: 0.4s;
    color: rgba(190, 13, 13, 1);
}

.navbar .navbar-toggleer {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    background-color: transparent;
    transition: box-shadow 0.15s ease-in-out;
}

.btn-danger {
    background-color:rgba(190, 13, 13, 1);
    border-color: rgba(190, 13, 13, 1);
    border-radius: 85px;
    border-bottom: rgba(190, 13, 13, 1);
    font-size: 15px;
    width: 80px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: white;
    padding: 1px 3px;
    justify-content: space-around;
}

.btn.btn-danger {
    transition-duration: 0.4s;
}

.btn.btn-danger:hover {
    background-color: rgba(0, 70, 127, 1);
    border-color: rgba(0, 70, 127, 1);
}

.btn.btn-danger:focus {
    background-color:rgba(0, 70, 127, 1);
    border-color: rgba(0, 70, 127, 1);
}

.btn.btn-danger:active {
    background-color: rgba(0, 70, 127, 1);
    border-color:rgba(0, 70, 127, 1);
}

/* <!-------------Header ---------------> */

.cover {
    background-image: url(Imagenes/casa22.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: flex-end;
    background-attachment: scroll;
}

.titulo-banner-principal {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 5px black;
}

.parrafo-banner-ppal {
    color: white;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
}

.btn.btn-success {
    background-color: rgba(190, 13, 13, 1);
    border-color: rgba(190, 13, 13, 1);
    border-radius: 45px;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    justify-content: space-around;
}

.btn.btn-success {
    transition-duration: 0.4s;
}

.btn.btn-success:hover {
    background-color: rgba(0, 70, 127, 1);
    border-color: rgba(0, 70, 127, 1);
}

.btn.btn-success:focus {
    background-color: rgba(0, 70, 127, 1);
    border-color: rgba(0, 70, 127, 1);
}

.btn.btn-success:active {
    background-color: rgba(0, 70, 127, 1);
    border-color:rgba(0, 70, 127, 1);
}

.titulo-nos {
    font-family:'Nunito Sans', sans-serif;
    font-size: 28px;
    color: rgba(35, 120, 195, 1);
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0;
    text-shadow: 1px 1px 2px black;
}

.parrafo-1 {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #22193F;
    margin-bottom: 30px;
    margin-left: 50px;
}

.presentacion {
    background-color: #e8e8e8;
    margin-bottom: 25px;
}

.img-presentacion{
    width: 360px;
    border-radius: 20px;
    opacity: 0.9;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-top: 45px;
}

/* <!--------------Cards------------> */

.titulo-sec {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    color: rgba(35, 120, 195, 1);
    padding-bottom: 20px;
    font-weight: 900;
    margin-top: 30px;
    text-shadow: 1px 1px 2px black;

}

.card-text {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #22193F;
    margin-bottom: 50px;
    text-align: center;
}

.card {
    border: none;
    padding: 0 0 0 0;
    margin: 0;
}

.card-img-top {
    width: 24%;
    margin: auto;
}

.card-title {
    color: rgba(190, 13, 13, 1);
    font-size: 16px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
}

#icono-auto{
    margin-left: auto;
    margin-right: auto;
}
.btn-blue{
    display: flex;
    color: #ffffff;
    justify-content: center;
    background: rgba(190, 13, 13, 1);
    padding: 6px 10px;
    text-align: center;
    touch-action: manipulation;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-size: 13px;
    font-family:  'Nunito', sans-serif;
    font-weight: 700;
}

.btn-blue:hover{
    color: #fff;
    background-color: rgba(0, 70, 127, 1);
    border-radius: 20px;
    border-color: rgba(0, 70, 127, 1);
    text-decoration: none;
    border: #0054a0 1px solid;
   }

#icono-moto{
    margin-left: auto;
    margin-right: auto;
}

#icono-casa{
    margin-left: auto;
    margin-right: auto;
}


.cover2 {
    background-image: url(Imagenes/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.titulo-5 {
    color: rgba(35, 120, 195, 1);
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
    text-shadow: 1px 2px 2px black;
}

.parrafo-clientes{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px black
}

.banner-final {
    background-color: rgba(35, 120, 195, 1);
    height: auto;
}

.titulo-3 {
    color: white;
    font-size: 23px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-right: 5px;    
}

.redes-container{

    margin-top: 1.2rem;

    }
    @media (max-device-width: 960px) {
        .redes-container{
        margin-left:250px;
        margin-right: 250px;
        margin-bottom: 25px;
        }
    }

    @media (max-device-width: 770px) {
        .redes-container{
        margin-left:150px;
        margin-right: 150px;
        margin-bottom: 25px;
        }
    }

    @media (max-device-width: 460px) {
        .redes-container{
        margin-left:80px;
        margin-right: 80px;
        margin-bottom: 25px;
        }
    }



.twitter  {
     
      color: black;
      
}
  
.facebook {
      color: black;
  }

.linkedin {
      color: black;
  }

  .instagram{
    color: black;
  }

/* <!--------------Form Contacto------------> */

.form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
  
}

.titulo-contact{
display: flex;
justify-content: center;
margin-top: 25px;
font-family:'Nunito Sans', sans-serif;
font-size: 28px;
color: rgba(190, 13, 13, 1);
font-weight: 900;
padding-bottom: 10px;
text-shadow: 1px 1px 3px black;
}

label{
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 200;
color: grey;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .5em;
    border: none;
    background: none;
    outline: 0;
    color: black;
    border-bottom: 1px solid    rgba(190, 13, 13, 1);
   
}

.contact-form form button {
    background:  rgba(190, 13, 13, 1);
    border: 0;
    color: #fff;
    padding: 1em;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #0054a0;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* <!--------------Footer------------> */
  .telefonos-footer{
    background-color: rgb(197, 196, 196);
    padding: 30px 0px;
    text-transform: uppercase;
  }

  .copyright{
    padding-top: 15px;
    text-align: center;
   color: rgba(35, 120, 195, 1);
    font-size: 12px;
    
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}



/* Contáctenos */
textarea {
    resize: none;
}

